USE [Arac_Teknik_Servisi]
GO
/****** Object:  Table [dbo].[Araclar]    Script Date: 4.11.2025 13:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclar](
	[Arac_id] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_id] [int] NULL,
	[Marka] [varchar](100) NULL,
	[Plaka] [varchar](100) NULL,
	[Model] [varchar](100) NULL,
	[Garantilimi] [bit] NULL,
	[Arıza_Sorunu] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 4.11.2025 13:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[Musteri_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](90) NULL,
	[Soyad] [varchar](90) NULL,
	[Eposta] [varchar](90) NULL,
	[Adres] [varchar](max) NULL,
	[Telefon] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servis_Elemanlari]    Script Date: 4.11.2025 13:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servis_Elemanlari](
	[Calisan_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](90) NULL,
	[Soyad] [varchar](90) NULL,
	[TcNo] [char](11) NOT NULL,
	[Adres] [varchar](max) NULL,
	[Telefon] [char](10) NOT NULL,
	[Eposta] [varchar](90) NULL,
PRIMARY KEY CLUSTERED 
(
	[Calisan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servis_Kayitleri]    Script Date: 4.11.2025 13:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servis_Kayitleri](
	[Servis_id] [int] IDENTITY(1,1) NOT NULL,
	[Arac_id] [int] NULL,
	[Giris_Tarihi] [datetime] NULL,
	[Teslim_Tarihi] [datetime] NULL,
	[Yapilan_Islem] [varchar](max) NULL,
	[Ucret] [money] NULL,
	[Odendimi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Servis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yedek_Parcalar]    Script Date: 4.11.2025 13:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yedek_Parcalar](
	[Parca_id] [int] IDENTITY(1,1) NOT NULL,
	[Parca_Ad] [varchar](90) NULL,
	[Stok_Miktari] [int] NULL,
	[Alis_Fiyati] [int] NULL,
	[Satis_Fiyati] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Parca_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Araclar] ADD  DEFAULT ((0)) FOR [Garantilimi]
GO
ALTER TABLE [dbo].[Servis_Kayitleri] ADD  DEFAULT ((0)) FOR [Odendimi]
GO
ALTER TABLE [dbo].[Araclar]  WITH CHECK ADD FOREIGN KEY([Musteri_id])
REFERENCES [dbo].[Musteriler] ([Musteri_id])
GO
ALTER TABLE [dbo].[Servis_Kayitleri]  WITH CHECK ADD FOREIGN KEY([Arac_id])
REFERENCES [dbo].[Araclar] ([Arac_id])
GO
